# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=rickmorty_etl
MONGO_COLLECTION=personajes_raw

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=1997
MYSQL_DB=rickmorty_dw

# Rick & Morty API (no requiere autenticación)
RICK_MORTY_API_BASE_URL=https://rickandmortyapi.com/api
